$white: #ffffff;
$black: #000000;
$base-bg-color: #f6f7f8;

$gray-200: #ecedef;
$gray-400: #C8CCD0;
$gray-600: #95A0A9;
$gray-950: #171A1C;

$brand-400: #55D440;
$brand-500: #1CCB01;

$text-disabled: $gray-400;
$text-secondary: $gray-600;
$text-primary: $gray-950;

$fg-brand-secondary: $brand-400;
$fg-secondary: $gray-600;
$fg-primary: $gray-950;