$white: #ffffff;
$black: #000000;
$base-bg-color: #f6f7f8;

$gray-200: #ecedef;
$gray-400: #C8CCD0;
$gray-600: #95A0A9;
$gray-950: #171A1C;

$gray-800: #ecedef;

$brand-400: #55D440;
$brand-500: #1CCB01;

$text-disabled: $gray-400;
$text-secondary: $gray-600;
$text-primary: $gray-950;

$fg-brand-secondary: $brand-400;
$fg-secondary: $gray-600;
$fg-primary: $gray-950;

$color--gray-label: #7d7e7f;
$color--accent-danger: #f23030;
$color--gray-text: #1c1c1c;
$color--border-secondary-2: #bdbdbd;
$color--border-secondary-hover-2: #828282;
$color--border-green-stroke-active: #245f34;
$color--gray-header: #f5f7f9;
$color--gray-stroke: #c9cacc;
