// mobile layout up to 767 pixels inclusive
// small tablet layout up to 991 pixels inclusive
// tablet layout up to 1199 pixels inclusive
// desktop layout - starting from 1200 pixels
@use 'sass:map';

$screen: 'only screen';
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$media-to-sm: '#{$screen} and (max-width: #{map.get($grid-breakpoints, sm) - 1})';
$media-to-md: '#{$screen} and (max-width: #{map.get($grid-breakpoints, md) - 1})';
$media-to-lg: '#{$screen} and (max-width: #{map.get($grid-breakpoints, lg) - 1})';
$media-to-xl: '#{$screen} and (max-width: #{map.get($grid-breakpoints, xl) - 1})';

$media-from-sm: '#{$screen} and (min-width: #{map.get($grid-breakpoints, sm)})';
$media-from-md: '#{$screen} and (min-width: #{map.get($grid-breakpoints, md)})';
$media-from-lg: '#{$screen} and (min-width: #{map.get($grid-breakpoints, lg)})';
$media-from-xl: '#{$screen} and (min-width: #{map.get($grid-breakpoints, xl)})';

$media-xs: '#{$screen} and (max-width: #{map.get($grid-breakpoints, sm) - 1})';
$media-sm: '#{$screen} and (min-width: #{map.get($grid-breakpoints, sm) - 1}) and (max-width: #{map.get($grid-breakpoints, md) - 1})';
$media-md: '#{$screen} and (min-width: #{map.get($grid-breakpoints, md) - 1}) and (max-width: #{map.get($grid-breakpoints, lg) - 1})';
$media-lg: '#{$screen} and (min-width: #{map.get($grid-breakpoints, lg) - 1}) and (max-width: #{map.get($grid-breakpoints, xl) - 1})';
$media-xl: '#{$screen} and (min-width: #{map.get($grid-breakpoints, xl) - 1})';

$landscape-to-md: '#{$media-to-md} and (orientation:landscape)';
$landscape-to-lg: '#{$media-to-lg} and (orientation:landscape)';
$landscape-to-xl: '#{$media-to-xl} and (orientation:landscape)';
