@font-face {
  font-family: "Onest";
  src: local("Onest Regular"), url("/fonts/onest-regular.woff2") format("woff2"),
  url("/fonts/onest-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: local("Onest Medium"), url("/fonts/onest-medium.woff2") format("woff2"),
  url("/fonts/onest-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: local("Onest SemiBold"), url("/fonts/onest-semiBold.woff2") format("woff2"),
  url("/fonts/onest-semiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: local("Onest Bold"), url("/fonts/onest-bold.woff2") format("woff2"),
  url("/fonts/onest-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
